/* nav.css */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #C8DDF0;
    padding: 10px;
    color: black;
    /* Agrega más estilos según sea necesario */
    z-index: 1000; /* Asegura que el nav esté encima de otros elementos */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #64a6e0;
    font-weight: bold;
  }
  
  body {
    margin-top: 50px; /* Ajusta según la altura del nav */
  }
  