/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C8DDF0;
  color: black;
  /*font-family: 'Pixelify Sans', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Press Start 2P', cursive;
}



